<%- include("partials/_header"); %>
  <div class="home-container">
    <button type="button" class="button button--primary" aria-label="Logout">
      <a href="/users/logout">logout</a>
    </button>
    <div class="container">
      <div class="row row--top-40">
        <div class="col-md-12">
          <h2 class="row__title">Members (<%= users.length %>)</h2>
        </div>
      </div>
      <div class="row row--top-20">
        <div class="col-md-12">
          <div class="table-container">
            <table class="table">
              <thead class="table__thead">
                <opttr>
                  <th class="table__th">Name</th>
                  <th class="table__th">Username</th>
                  <th class="table__th">Email</th>
                </opttr>
              </thead>
              <tbody class="table__tbody">
                <% for(let i=0; i < users.length; i++) { %>
                  <tr class="table-row">
                    <td class="table-row__td">
                      <div class="table-row__info">
                        <p class="table-row__name">
                          <%= users[i].name %>
                            <%= users[i].surname %>
                        </p>
                      </div>
                    </td>
                    <td data-column="Username" class="table-row__td">
                      <div class="">
                        <p class="table-row__username">
                          <%= users[i].username %>
                        </p>
                      </div>
                    </td>
                    <td data-column="Email" class="table-row__td">
                      <p class="table-row__p-email">
                        <%= users[i].email %>
                      </p>
                    </td>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/_footer"); %>