<%- include("partials/_header"); %>
  <button type="button" class="button button--primary" aria-label="Logout">
    <a href="/users/logout">logout</a>
  </button>
  <div class="users-container">
    <span class="mark">
      <h3>Our Members</h3>
    </span>
    <div class="users-list">
      <% for(let i=0; i< users.length; i++) { %>
        <div class="members">
          <span>
            <%= i+1 %>.
          </span>
          <u>
            <li>Fullname: &nbsp<%= users[i].name %>
                <%= users[i].surname %>
            </li>
            <li>Username: &nbsp<%= users[i].username %>
            </li>
            <li>Email: &nbsp<%= users[i].email %>
            </li>
          </u>
        </div>
        <% } %>
    </div>
  </div>
  <%- include("partials/_footer"); %>
