<%- include("partials/_header"); %>
  <div class="users-container">
    <span class="mark">
      <h3>Our Members</h3>
    </span>
    <div class="users-list">
      <div class="members">
        <u>
          <% for(let i=0; i< users.length; i++) { %>
            <li>
              <%= users[i].name %>
            </li>
            <li>
              <%= users[i].name %>
            </li>
            <li>
              <%= users[i].name %>
            </li>
            <% } %>
        </u>
      </div>
    </div>
  </div>
  <%- include("partials/_footer"); %>
